<div class="mdiv">
    <div class="insideMdiv">
        <div class="text-center ccc">
            <h5>Ready to level up?</h5>
            <h1>WE HAVE BEST PLANS FOR YOU</h1>
        </div>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div class="p-2 bd-highlight col-12 col-md-6 col-lg-4 text-center">
                <div class="d-flex flex-column imdDiv">
                    ddd
                </div>
                <h2 class="h22">Starter</h2>
            </div>

            <div class="p-2 bd-highlight col-12 col-md-6 col-lg-4 text-center">
                <div class="d-flex flex-column imdDiv">
                    ddd
                </div>
                <h2 class="h22">Starter</h2>
            </div>

            <div class="p-2 bd-highlight col-12 col-md-6 col-lg-4 text-center">
                <div class="d-flex flex-column imdDiv">
                    ddd
                </div>
                <h2 class="h22">Starter</h2>
            </div>
        </div>
    </div>
</div>
